In [1]:
import pandas as pd
from gensim.models.word2vec import Word2Vec

In [7]:
train_df = pd.read_pickle("./train_reduce.pkl")
# test_df = pd.read_pickle("../input/hw2pkl/test.pkl")
train_df.head()

     ari_time                        ari_title  price
0  2006-10-27          balda say investor asks      0
1  2006-11-01                     ace lift pay      0
2  2006-11-08   namibian investors buy absa 's      1
3  2006-11-09  firstrand say law may pare fees      0
4  2006-11-09      china stocks rise 30 % in #      0

In [10]:
corpus = pd.concat([train_df.ari_time, train_df.ari_title])
print(corpus)
# corpus = pd.concat([train_df.ari_time, train_df.ari_title]).sample(frac=1)
corpus.head()

0                                               2006-10-27
1                                               2006-11-01
2                                               2006-11-08
3                                               2006-11-09
4                                               2006-11-09
5                                               2006-11-16
6                                               2006-11-22
7                                               2006-11-22
8                                               2006-11-29
9                                               2006-12-11
10                                              2006-12-11
11                                              2006-12-12
12                                              2006-12-14
13                                              2006-12-18
14                                              2006-12-19
15                                              2007-01-10
16                                              2007-01-10
17                                              2007-01-11
18                                              2007-01-11
19                                              2007-01-18
20                                              2007-01-22
21                                              2007-01-23
22                                              2007-01-24
23                                              2007-01-29
24                                              2007-01-30
25                                              2007-01-31
26                                              2007-01-31
27                                              2007-02-06
28                                              2007-02-07
29                                              2007-02-12
                               ...
13891                  aquino say hong kong hijack inquiry
13892                                       eni seek $ # #
13893           airlines say most storm-stranded travelers
13894         4,000-megawatt orissa project end of january
13895                               u.s. futures be little
13896              u.k. mid-sized companies find financing
13897                        financing be easier to obtain
13898                     citigroup be on dudley 's agenda
13899                   u.s. stock funds see weekly inflow
13900     tesla say electric car battery plan means profit
13901                     brett favre fail concussion test
13902                      khawaja have cricket test debut
13903       ex-primary global consultant jiau get $ # bail
13904                                     aig be preparing
13905                          sanchez start against bills
13906                                  tottenham lead race
13907    dollar weaken as global economic recovery sign...
13908    indonesia achieve sustainable economic growth ...
13909    serb prosecutors say modigliani painting may f...
13910                      qatar navigation unit get $ # #
13911    raw sugar prices advance on global supply concern
13912                          toshiba want tokyo electric
13913    north welsh conwy region post largest u.k. hou...
13914                             cameron say job creation
13915            job creation be focus for u.k. 's economy
13916    india winter oilseed output gain as high price...
13917                          quotas be to increase women
13918                                japan ease visa rules
13919    euro imbalances mean # % risk bloc see structu...
13920                             # be the bossâ€™s business
Length: 27842, dtype: object

0    2006-10-27
1    2006-11-01
2    2006-11-08
3    2006-11-09
4    2006-11-09
dtype: object

In [4]:
%%time
# CPU times: user 1min 11s
model = Word2Vec(corpus, size=50, iter=10)
model.save('word2vec.model')

CPU times: user 4.9 s, sys: 68.7 ms, total: 4.97 s
Wall time: 2.46 s